# Intro to SQL and Python

_Note: key terms will be bolded throughout this document._

You're currently running a Jupyter notebook! 

This is an interactive coding environment that allows you to run Python code in **cells** as seen below.

Try executing the cell below by clicking into it and pressing `SHIFT + ENTER`. You should see the text to the left of the cell, `In []`, update to `In [1]`. This number represents the order in which you've executed cells in your notebook.

In [2]:
# In Python, comments start with a hashtag at the beginning of a line
# This cell imports the psycopg2 library which we previously installed
# Importing a library allows us to use it during our current session
import psycopg2

We've successfully **imported** our library! For your reference, the `psycopg2` [library](https://www.psycopg.org/docs/) is an **open-source package** which allows us to interact with a live SQL database in our Python environment. Below, we're going to use this package to work with a popular open-source version of SQL called [Postgres](https://en.wikipedia.org/wiki/PostgreSQL).

Before we get any further, if you're looking to get more comfortable with the syntax of Python, I'd recommend perusing the following interactive tutorials:
- [Printing Hello, World!](https://www.learnpython.org/en/Hello%2C_World%21)
- [Variables and Types](https://www.learnpython.org/en/Variables_and_Types)
- [Lists](https://www.learnpython.org/en/Lists)
- [Conditions](https://www.learnpython.org/en/Conditions)
- [Loops](https://www.learnpython.org/en/Loops)
- [Functions](https://www.learnpython.org/en/Loops)

I'll do my best to explain various CS concepts in simple terms as we move along. The above tutorials should be considered _optional_ learning if you want to get better at working with Python syntax. Other optional content is formatted in italics below.

Now — click into the cell below and hit `SHIFT + ENTER`. You should see the cell count increment to `In [2]`.

In [3]:
connection = psycopg2.connect(
    database="", # database name
    user="", # database user's username
    password="", # database user's password
    host="hbs.cm4xib1x9qhd.us-east-1.rds.amazonaws.com", # web address
    port='5432' # unique connection identifier 
)

What's going on in this cell? 

We're calling a **function** that exists in the `psycopg2` package called `connect()`. This function establishes a connection to a database somewhere on the web — in other words, it logs in! 

It accepts various **parameters** such as `database`, `user`, `password`, `host`, and `port`. *(You can optionally read more about ports [here](https://en.wikipedia.org/wiki/Port_(computer_networking)).)*

We're **assigning** the result of this function execution to a **variable** which we have called `connection`. Note that we could call this variable whatever we want, such as `pizza`.

The specific Postgres database that we're working with is one that I've set up on AWS for the purpose of this exercise. Once we've established this connection, we can now query the database!

_If you're curious about how the `connect()` function works, the [documentation](https://www.psycopg.org/docs/connection.html?highlight=connect) for the `psycopg2` library explains this in more detail._

In [4]:
# First, we create a database cursor 
from psycopg2 import extras
cursor = connection.cursor(cursor_factory=psycopg2.extras.DictCursor)

What did we do here? If you said that we:
- Called the `cursor()` function of our `connection`
- Assigned the result of this function to a variable called `cursor`

Then you're correct! 

_We conduct a separate import of the `extras` module from `psycopg2` so that the resulting `cursor` is formatted slightly neater than the default setting. You don't need to understand what's happening with the `cursor_factory` parameter; just know that it makes our life easier._

Again, we could have called our `cursor` variable `ice_cream` if we wanted to. Note that the `connection.cursor()` function is explicitly defined in the documentation as part of the `connection` that is created by `psycopg2`. 

We would not be able to call `connection.ice_cream()` as that isn't a real thing. However, if we had stored the `connection` in a different variable, such as `pizza`, we would be able to call `pizza.cursor()`. 

_See the `psycopg2` [docs](https://www.psycopg.org/docs/cursor.html#cursor) for more details!_

### Querying the database

![Let's get down to business](https://pyxis.nymag.com/v1/imgs/433/898/17ff3bd1a1e20e75702cc4b1a99bc3430e-li-shang.2x.rsocial.w600.jpg)

Now let's down to business!

Just kidding. Before we can query our database, we have to know what it actually looks like!

A database is made up of many individual **tables**, each of which can be analogized to a spreadsheet. The **columns** of a table represent specific attributes, and the **rows** of a table represent individual objects.

Let's construct a SQL query that looks at our database's metadata. This will get us a list of all the tables in our database.

So ... what **clauses** make up a SQL query? Queries that involve **reading data** (often what a PM is doing) have the following components:
1. `SELECT column1, column2, ...`
2. `FROM table_name`
3. `WHERE condition;`

**Don't forget the semicolon!**

Given this structure, we can construct a query that retrieves all of the tables in our database:
```
SELECT table_name
FROM information_schema.tables
WHERE table_schema='public';
```

How did we know to construct our query like this? The [Postgres documentation](https://www.postgresql.org/docs/current/infoschema-tables.html) outlines all of this information about how metadata tables are standardized. Yup, the answer is "Read the manual".

_Looking at the docs, we see that there is a standard `table_name` column which exists on the standard `information_schema.tables` metadata table.  However, since Postgres has a lot of private metadata tables, we should also specify that we only want tables where the `table_schema` column is public, as that represents tables which store real data._

Now, how do we execute this SQL query against the database using our `cursor` which we constructed above?

In [5]:
# Call the cursor.execute() function which takes one parameter, our query
# In Python, multi-line text strings go in between triple-quotes
cursor.execute(
    """
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public';
    """
)

# After executing the query, we MUST also call cursor.fetchall()
# This returns the results of our query, otherwise nothing happens
cursor.fetchall()

[['titles'], ['people'], ['revenues'], ['roles']]

We got our results! Why do they look kind of funky? 

Well, the square brackets in Python represent a `list` data type. We simply received the results of our function call as a nested list of lists. 

Now, how do we figure out what the columns are on each of these tables? 

We perform a similar metadata query on another Postgres metadata table (this time, `information_schema.columns` — see [docs](https://www.postgresql.org/docs/current/infoschema-columns.html)) and we specifically add the condition that `table_name = 'titles'`. Note that the name of the table, being a text string, must be enclosed in quotes.

Let's run this query for each of our tables!

In [6]:
cursor.execute(
    """
    SELECT column_name
    FROM information_schema.columns
    WHERE table_schema = 'public' AND table_name = 'titles';
    """
)
cursor.fetchall()

[['id'],
 ['adaptation'],
 ['domestic_gross'],
 ['franchise'],
 ['genre'],
 ['international_gross'],
 ['mpaa_rating'],
 ['plot'],
 ['poster_url'],
 ['production_budget'],
 ['runtime'],
 ['metascore'],
 ['rt_critics'],
 ['rt_users'],
 ['imdb_score'],
 ['theatrical_release'],
 ['title'],
 ['three_d']]

In [7]:
cursor.execute(
    """
    SELECT column_name
    FROM information_schema.columns
    WHERE table_schema = 'public' AND table_name = 'people';
    """
)
cursor.fetchall()

[['id'], ['name'], ['gender'], ['race'], ['birthday']]

In [8]:
cursor.execute(
    """
    SELECT column_name
    FROM information_schema.columns
    WHERE table_schema = 'public' AND table_name = 'roles';
    """
)
cursor.fetchall()

[['title_id'], ['person_id'], ['role_type']]

In [9]:
cursor.execute(
    """
    SELECT column_name
    FROM information_schema.columns
    WHERE table_schema = 'public' AND table_name = 'revenues';
    """
)
cursor.fetchall()

[['title_id'], ['week_number'], ['gross'], ['theaters']]

Have you guessed what data is contained in our database? It's movies!

We have a table of `titles` corresponding to individual movies and a table of `people` corresponding to actors and directors. 

But why do we have a table of `roles` and `revenues`? This gets at a fundamental question of **data modeling** — where do you store data that pertains to multiple tables? 

Consider that one row in the `titles` table corresponds to one movie, and one row in the `people` database corresponds to one actor. What happens if we store the cast in `titles` and it changes? What happens if we store an actor's filmography in `people` and it changes? What happens if we store the data in both locations? How much work would it be to update the data, and which table contains the source of truth?

Well, because our movies have relationships with actors, we can create a completely separate table that represents the relationship between `titles` and `people`. This third table is the single source of truth! 

Notice that every movie in `titles` has an `id` property. This is a unique value which we call a **primary key**, which allows us to differentiate between different movies. Similarly, different actors in `people` have unique `id` values. When we want to capture that Tom Holland is starring in a new Spider-Man movie, we can use Tom Holland's `id` from `people` and the movie's `id` from `titles` to create a new entry in `roles`. 

As you can see, the `roles` table has `title_id` and `person_id` columns. These are considered **foreign keys** because they correspond to the primary keys of other tables. 

Similarly, we store new weekly revenue numbers in the `revenues` table by associating each entry with a movie's `title_id` foreign key.

### Some simple examples

In [10]:
# Retrieve all columns for movies with a runtime of over 200 minutes
cursor.execute(
    """
    SELECT *
    FROM titles
    WHERE runtime > 200;
    """
)
cursor.fetchall()

[['aa2b71bf-ac03-4e6a-845b-0f1000026553',
  'false',
  Decimal('145526'),
  None,
  'Biography',
  Decimal('145526'),
  'Unrated',
  "Ilich Ramirez Sanchez, aka 'Carlos,' is a Venezuelan-born Marxist revolutionary who aligns himself with the Palestinian cause and becomes the world's most notorious terrorist. He leads assaults on the meeting of OPEC ministers, taking them hostage and flying them from country to country seeking asylum, one of the most daring acts of terrorism in history. From his earliest days as an apprentice in the revolutionary movement to his subsequent downfall, Carlos becomes a figure of legend.",
  'http://ia.media-imdb.com/images/M/MV5BMTkwNDU4Mzc4OV5BMl5BanBnXkFtZTcwMzEyMTA3NQ@@._V1_SX300.jpg',
  Decimal('18000000'),
  Decimal('333'),
  Decimal('94'),
  Decimal('94'),
  Decimal('85'),
  Decimal('7.7'),
  datetime.datetime(2010, 10, 15, 0, 0),
  'Carlos',
  False],
 ['b3dc2642-03d2-4d50-9b2b-fe215be4429a',
  'novel',
  Decimal('12882934'),
  'Gettysburg',
  'Drama',
  Decimal('12882934'),
  'PG-13',
  'The rise and fall of legendary war hero Thomas "Stonewall" Jackson as he leads the Confederacy to great success against the Union from 1861 to 1863. Prequel to the 1993 classic "Gettysburg".',
  'http://ia.media-imdb.com/images/M/MV5BMTU1NzExNjU3OF5BMl5BanBnXkFtZTYwNzc0MDg5._V1_SX300.jpg',
  Decimal('56000000'),
  Decimal('229'),
  Decimal('30'),
  Decimal('8'),
  Decimal('63'),
  Decimal('6.3'),
  datetime.datetime(2003, 2, 21, 0, 0),
  'Gods and Generals',
  False],
 ['f6c19176-5de8-4207-9b94-c4ff73404ec8',
  'novel',
  Decimal('377027325'),
  'Middle Earth',
  'Adventure',
  Decimal('377027325'),
  'PG-13',
  "Gandalf and Aragorn lead the World of Men against Sauron's army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring.",
  'http://ia.media-imdb.com/images/M/MV5BMjE4MjA1NTAyMV5BMl5BanBnXkFtZTcwNzM1NDQyMQ@@._V1_SX300.jpg',
  Decimal('94000000'),
  Decimal('201'),
  Decimal('94'),
  Decimal('95'),
  Decimal('86'),
  Decimal('8.9'),
  datetime.datetime(2003, 12, 17, 0, 0),
  'The Lord of the Rings: The Return of the King',
  False],
 ['f43750cb-c2d5-4914-a087-d11be1b42447',
  'nonfiction',
  Decimal('48200000'),
  None,
  'Biography',
  Decimal('48200000'),
  'PG-13',
  'Biograpical epic of Malcolm X, the legendary African American leader. Born Malcolm Little, his father (a Garveyite Baptist minister) was killed by the Ku Klux Klan. Malcolm became a gangster, and while in jail discovered the Nation of Islam writings of Elijah Muhammad. He preaches the teachings when let out of jail, but later on goes on a pilgrimage to the city of Mecca, there he converts to the original Islamic religion and becomes a Sunni Muslim and changes his name to El-Hajj Malik Al-Shabazz. He is assassinated on February 21, 1965 and dies a Muslim martyr.',
  'http://ia.media-imdb.com/images/M/MV5BOTc4NzgxMDc4MF5BMl5BanBnXkFtZTgwOTA4MDc3NjE@._V1_SX300.jpg',
  Decimal('33000000'),
  Decimal('201'),
  Decimal('72'),
  Decimal('91'),
  Decimal('91'),
  Decimal('7.7'),
  datetime.datetime(1992, 11, 18, 0, 0),
  'Malcolm X',
  False],
 ['69a53866-06d6-44a5-80c2-b209ff3c1ed5',
  'novel',
  Decimal('182207973'),
  'Gettysburg',
  'Drama',
  Decimal('182207973'),
  'PG',
  'In 1863, the Northern and Southern forces fight at Gettysburg in the decisive battle of the American Civil War.',
  'http://ia.media-imdb.com/images/M/MV5BMTQwMjE3NDg4NV5BMl5BanBnXkFtZTcwMDI3MTE2Mw@@._V1_SX300.jpg',
  Decimal('65000000'),
  Decimal('271'),
  None,
  Decimal('80'),
  Decimal('89'),
  Decimal('7.7'),
  datetime.datetime(1993, 10, 8, 0, 0),
  'Gettysburg',
  False]]

In [9]:
# Retrieve Tom Holland
cursor.execute(
    """
    SELECT *
    FROM people
    WHERE name = 'Tom Holland';
    """
)
cursor.fetchall()

[['4e7b6c16-0381-422a-85dd-91a2cd7a38d5',
  'Tom Holland',
  'Male',
  'White',
  datetime.datetime(1996, 6, 1, 0, 0)]]

In [10]:
# Retrieve all of Tom Holland's movies
cursor.execute(
    """
    SELECT 
        t.id, 
        t.adaptation,
        t.domestic_gross,
        t.franchise,
        t.genre,
        t.international_gross,
        t.mpaa_rating,
        t.plot,
        t.poster_url,
        t.production_budget,
        t.runtime,
        t.metascore,
        t.rt_critics,
        t.rt_users,
        t.imdb_score,
        t.theatrical_release,
        t.title,
        t.three_d
    FROM titles AS t
    JOIN roles ON roles.title_id = t.id
    WHERE roles.person_id = '4e7b6c16-0381-422a-85dd-91a2cd7a38d5';
    """
)
cursor.fetchall()

[['07428f8a-d0c4-4d43-875f-237d4b281a74',
  'nonfiction',
  Decimal('25020758'),
  None,
  'Action',
  Decimal('25020758'),
  'PG-13',
  "A recounting of a New England whaling ship's sinking by a giant whale in 1820, an experience that later inspired the great novel Moby-Dick.",
  'http://ia.media-imdb.com/images/M/MV5BMjA5NzUwODExM15BMl5BanBnXkFtZTgwNjM0MzE4NjE@._V1_SX300.jpg',
  Decimal('100000000'),
  Decimal('121'),
  Decimal('47'),
  Decimal('42'),
  Decimal('56'),
  Decimal('7'),
  datetime.datetime(2015, 12, 11, 0, 0),
  'In the Heart of the Sea',
  True],
 ['bff03ce2-971c-4ac5-b301-c62b9e30c394',
  'false',
  Decimal('19019882'),
  None,
  'Drama',
  Decimal('19019882'),
  'PG-13',
  'A regular family - Maria (Naomi Watts), Henry (Ewan McGregor) and their three kids - travel to Thailand to spend Christmas. They get an upgrade to a villa on the coastline. After settling in and exchanging gifts, they go to the pool, like so many other tourists. A perfect paradise vacation until a distant noise becomes a roar. There is no time to escape from the tsunami; Maria and her eldest are swept one way, Henry and the youngest another. Who will survive, and what will become of them?',
  'http://ia.media-imdb.com/images/M/MV5BMjA5NTA3NzQ5Nl5BMl5BanBnXkFtZTcwOTYxNjY0OA@@._V1_SX300.jpg',
  Decimal('45000000'),
  Decimal('113'),
  Decimal('73'),
  Decimal('81'),
  Decimal('84'),
  Decimal('7.6'),
  datetime.datetime(2012, 12, 21, 0, 0),
  'The Impossible',
  False],
 ['a2071abf-fa5b-408d-a6cb-1b33a126d195',
  'comic',
  Decimal('408084349'),
  'Marvel Cinematic Universe',
  'Action',
  Decimal('408084349'),
  'PG-13',
  "With many people fearing the actions of super heroes, the government decides to push for the Hero Registration Act, a law that limits a hero's actions. This results in a division in The Avengers. Iron Man stands with this Act, claiming that their actions must be kept in check otherwise cities will continue to be destroyed, but Captain America feels that saving the world is daring enough and that they cannot rely on the government to protect the world. This escalates into an all-out war between Team Iron Man (Iron Man, Black Panther, Vision, Black Widow, War Machine, and Spider-Man) and Team Captain America (Captain America, Bucky Barnes, Falcon, Scarlet Witch, Hawkeye, and Ant Man) while a new villain emerges.",
  'https://images-na.ssl-images-amazon.com/images/M/MV5BMjQ0MTgyNjAxMV5BMl5BanBnXkFtZTgwNjUzMDkyODE@._V1_SY1000_CR0,0,674,1000_AL_.jpg',
  Decimal('250000000'),
  Decimal('147'),
  Decimal('75'),
  Decimal('90'),
  Decimal('90'),
  Decimal('8.2'),
  datetime.datetime(2016, 5, 6, 0, 0),
  'Captain America: Civil War',
  True],
 ['4fe63c90-8105-44b6-b425-c26ac0de42c5',
  'comic',
  None,
  'Marvel Cinematic Universe',
  'Action',
  None,
  'Unrated',
  'A young Peter Parker/Spider-Man, who made his sensational debut in Captain America: Civil War, begins to navigate his newfound identity as the web-slinging superhero in Spider-Man: Homecoming. Thrilled by his experience with the Avengers, Peter returns home, where he lives with his Aunt May, under the watchful eye of his new mentor Tony Stark, Peter tries to fall back into his normal daily routine - distracted by thoughts of proving himself to be more than just your freindly neighborhood Spider-Man - but when the Vulture emerges as a new villain, everything that Peter holds most important will be threatened.',
  'https://images-na.ssl-images-amazon.com/images/M/MV5BNDUzOTE5OTk1NF5BMl5BanBnXkFtZTgwNzgwNzA4MDI@._V1_UX182_CR0,0,182,268_AL_.jpg',
  Decimal('160000000'),
  Decimal('87'),
  None,
  Decimal('85'),
  None,
  None,
  datetime.datetime(2017, 7, 7, 0, 0),
  'Spider-Man: Homecoming',
  True]]

It's worth going into some detail as to how we performed this last query. 

Recall from above that there are three clauses to a SQL query:
1. `SELECT column1, column2, ...`
2. `FROM table_name`
3. `WHERE condition;`

What happens when we want to query all of Tom Holland's movies? We need to query information from `titles`, `roles`, and `people`! 

First, we found that Tom Holland's `id` in the `people` table is: `'4e7b6c16-0381-422a-85dd-91a2cd7a38d5'`.

Then, we constructed a query that **joined** the `titles` and `roles` tables. Recall that `titles.id` is a foreign key for `roles.title_id`. This means that we can perform a `JOIN` operation that combines the two tables where the values from one column are equal to the values of another column!

We'll add a fourth clause to our SQL query framework:
1. `SELECT column1, column2, ...`
2. `FROM table1`
3. `JOIN table2 ON table1.columnA = table2.columnB`
4. `WHERE condition;`

Finally, notice that we reference the `titles` table in our query as a shorter alias, `t`. We can use this to simplify query writing, especially where typing out a full table name multiple times might be cumbersome. 

If we modify the `FROM` clause to be `FROM table1 as t`, then all references to `table1` in our query must instead use the alias `t` or our query will fail due to malformed syntax. 

Our framework now looks like this:
1. `SELECT t.column1, t.column2, ...`
2. `FROM table1 AS t`
3. `JOIN table2 ON table1.columnA = table2.columnB`
4. `WHERE condition;`

Using this knowledge, let's write another `JOIN` query to select all of the revenue for Brad Pitt's movies.

In [11]:
# Retrieve Brad Pitt
cursor.execute(
    """
    SELECT *
    FROM people
    WHERE name = 'Brad Pitt';
    """
)
cursor.fetchall()

[['43ccd6ee-145e-44f0-b8b1-e06f0b2cf801',
  'Brad Pitt',
  'Male',
  'White',
  datetime.datetime(1963, 12, 18, 0, 0)]]

In [12]:
# Retrieve the week-by-week gross of Brad Pitt's movies
cursor.execute(
    """
    SELECT 
        r.title_id,
        r.week_number,
        r.gross,
        r.theaters,
        t.title
    FROM revenues AS r
    JOIN (
        SELECT t.id, t.title
        FROM titles AS t
        JOIN roles ON roles.title_id = t.id
        WHERE roles.person_id = '43ccd6ee-145e-44f0-b8b1-e06f0b2cf801'
    ) AS t
    ON r.title_id = t.id;
    """
)
cursor.fetchall()

[['14595dfb-6582-41ac-bb91-93b199dce5b0',
  Decimal('4'),
  Decimal('19466'),
  Decimal('32'),
  'By the Sea'],
 ['14595dfb-6582-41ac-bb91-93b199dce5b0',
  Decimal('3'),
  Decimal('125665'),
  Decimal('142'),
  'By the Sea'],
 ['14595dfb-6582-41ac-bb91-93b199dce5b0',
  Decimal('2'),
  Decimal('265732'),
  Decimal('126'),
  'By the Sea'],
 ['14595dfb-6582-41ac-bb91-93b199dce5b0',
  Decimal('1'),
  Decimal('127597'),
  Decimal('10'),
  'By the Sea'],
 ['8ab470a7-aebf-43c8-8c88-82536c54cc52',
  Decimal('17'),
  Decimal('82252'),
  Decimal('108'),
  'The Big Short'],
 ['8ab470a7-aebf-43c8-8c88-82536c54cc52',
  Decimal('16'),
  Decimal('69852'),
  Decimal('67'),
  'The Big Short'],
 ['8ab470a7-aebf-43c8-8c88-82536c54cc52',
  Decimal('15'),
  Decimal('188582'),
  Decimal('133'),
  'The Big Short'],
 ['8ab470a7-aebf-43c8-8c88-82536c54cc52',
  Decimal('14'),
  Decimal('397323'),
  Decimal('222'),
  'The Big Short'],
 ['8ab470a7-aebf-43c8-8c88-82536c54cc52',
  Decimal('13'),
  Decimal('672744'),
  Decimal('314'),
  'The Big Short'],
 ['8ab470a7-aebf-43c8-8c88-82536c54cc52',
  Decimal('12'),
  Decimal('1338265'),
  Decimal('543'),
  'The Big Short'],
 ['8ab470a7-aebf-43c8-8c88-82536c54cc52',
  Decimal('11'),
  Decimal('1263111'),
  Decimal('432'),
  'The Big Short'],
 ['8ab470a7-aebf-43c8-8c88-82536c54cc52',
  Decimal('10'),
  Decimal('1915904'),
  Decimal('535'),
  'The Big Short'],
 ['8ab470a7-aebf-43c8-8c88-82536c54cc52',
  Decimal('9'),
  Decimal('2381361'),
  Decimal('660'),
  'The Big Short'],
 ['8ab470a7-aebf-43c8-8c88-82536c54cc52',
  Decimal('8'),
  Decimal('4049999'),
  Decimal('983'),
  'The Big Short'],
 ['8ab470a7-aebf-43c8-8c88-82536c54cc52',
  Decimal('7'),
  Decimal('4686636'),
  Decimal('1351'),
  'The Big Short'],
 ['8ab470a7-aebf-43c8-8c88-82536c54cc52',
  Decimal('6'),
  Decimal('7892959'),
  Decimal('1765'),
  'The Big Short'],
 ['8ab470a7-aebf-43c8-8c88-82536c54cc52',
  Decimal('5'),
  Decimal('8771045'),
  Decimal('2529'),
  'The Big Short'],
 ['8ab470a7-aebf-43c8-8c88-82536c54cc52',
  Decimal('4'),
  Decimal('12554659'),
  Decimal('1588'),
  'The Big Short'],
 ['8ab470a7-aebf-43c8-8c88-82536c54cc52',
  Decimal('3'),
  Decimal('18503730'),
  Decimal('1585'),
  'The Big Short'],
 ['8ab470a7-aebf-43c8-8c88-82536c54cc52',
  Decimal('2'),
  Decimal('4550044'),
  Decimal('1585'),
  'The Big Short'],
 ['8ab470a7-aebf-43c8-8c88-82536c54cc52',
  Decimal('1'),
  Decimal('941404'),
  Decimal('8'),
  'The Big Short'],
 ['7872e670-a621-4655-9906-589462dac773',
  Decimal('14'),
  Decimal('62313'),
  Decimal('103'),
  'Fury'],
 ['7872e670-a621-4655-9906-589462dac773',
  Decimal('13'),
  Decimal('158806'),
  Decimal('188'),
  'Fury'],
 ['7872e670-a621-4655-9906-589462dac773',
  Decimal('12'),
  Decimal('281018'),
  Decimal('232'),
  'Fury'],
 ['7872e670-a621-4655-9906-589462dac773',
  Decimal('11'),
  Decimal('436433'),
  Decimal('250'),
  'Fury'],
 ['7872e670-a621-4655-9906-589462dac773',
  Decimal('10'),
  Decimal('344112'),
  Decimal('238'),
  'Fury'],
 ['7872e670-a621-4655-9906-589462dac773',
  Decimal('9'),
  Decimal('862422'),
  Decimal('726'),
  'Fury'],
 ['7872e670-a621-4655-9906-589462dac773',
  Decimal('8'),
  Decimal('1306529'),
  Decimal('896'),
  'Fury'],
 ['7872e670-a621-4655-9906-589462dac773',
  Decimal('7'),
  Decimal('2015231'),
  Decimal('1059'),
  'Fury'],
 ['7872e670-a621-4655-9906-589462dac773',
  Decimal('6'),
  Decimal('3098924'),
  Decimal('994'),
  'Fury'],
 ['7872e670-a621-4655-9906-589462dac773',
  Decimal('5'),
  Decimal('5119049'),
  Decimal('2382'),
  'Fury'],
 ['7872e670-a621-4655-9906-589462dac773',
  Decimal('4'),
  Decimal('8364840'),
  Decimal('2834'),
  'Fury'],
 ['7872e670-a621-4655-9906-589462dac773',
  Decimal('3'),
  Decimal('12430828'),
  Decimal('3313'),
  'Fury'],
 ['7872e670-a621-4655-9906-589462dac773',
  Decimal('2'),
  Decimal('18286973'),
  Decimal('3173'),
  'Fury'],
 ['7872e670-a621-4655-9906-589462dac773',
  Decimal('1'),
  Decimal('33050428'),
  Decimal('3173'),
  'Fury'],
 ['128abc2d-39ed-46b5-a842-88f7e024fb11',
  Decimal('12'),
  Decimal('10150'),
  Decimal('30'),
  'Killing Them Softly'],
 ['128abc2d-39ed-46b5-a842-88f7e024fb11',
  Decimal('11'),
  Decimal('50662'),
  Decimal('87'),
  'Killing Them Softly'],
 ['128abc2d-39ed-46b5-a842-88f7e024fb11',
  Decimal('10'),
  Decimal('2772'),
  Decimal('3'),
  'Killing Them Softly'],
 ['128abc2d-39ed-46b5-a842-88f7e024fb11',
  Decimal('9'),
  Decimal('2261'),
  Decimal('3'),
  'Killing Them Softly'],
 ['128abc2d-39ed-46b5-a842-88f7e024fb11',
  Decimal('8'),
  Decimal('10138'),
  Decimal('12'),
  'Killing Them Softly'],
 ['128abc2d-39ed-46b5-a842-88f7e024fb11',
  Decimal('7'),
  Decimal('27675'),
  Decimal('31'),
  'Killing Them Softly'],
 ['128abc2d-39ed-46b5-a842-88f7e024fb11',
  Decimal('6'),
  Decimal('56217'),
  Decimal('51'),
  'Killing Them Softly'],
 ['128abc2d-39ed-46b5-a842-88f7e024fb11',
  Decimal('5'),
  Decimal('76391'),
  Decimal('68'),
  'Killing Them Softly'],
 ['128abc2d-39ed-46b5-a842-88f7e024fb11',
  Decimal('4'),
  Decimal('164346'),
  Decimal('68'),
  'Killing Them Softly'],
 ['128abc2d-39ed-46b5-a842-88f7e024fb11',
  Decimal('3'),
  Decimal('1490782'),
  Decimal('1427'),
  'Killing Them Softly'],
 ['128abc2d-39ed-46b5-a842-88f7e024fb11',
  Decimal('2'),
  Decimal('4108568'),
  Decimal('2424'),
  'Killing Them Softly'],
 ['128abc2d-39ed-46b5-a842-88f7e024fb11',
  Decimal('1'),
  Decimal('9023737'),
  Decimal('2424'),
  'Killing Them Softly'],
 ['cdb1473a-30fc-4ec4-8768-e1902165a93c',
  Decimal('16'),
  Decimal('443480'),
  Decimal('214'),
  'Megamind'],
 ['cdb1473a-30fc-4ec4-8768-e1902165a93c',
  Decimal('15'),
  Decimal('417481'),
  Decimal('243'),
  'Megamind'],
 ['cdb1473a-30fc-4ec4-8768-e1902165a93c',
  Decimal('14'),
  Decimal('475788'),
  Decimal('290'),
  'Megamind'],
 ['cdb1473a-30fc-4ec4-8768-e1902165a93c',
  Decimal('13'),
  Decimal('610795'),
  Decimal('300'),
  'Megamind'],
 ['cdb1473a-30fc-4ec4-8768-e1902165a93c',
  Decimal('12'),
  Decimal('698630'),
  Decimal('320'),
  'Megamind'],
 ['cdb1473a-30fc-4ec4-8768-e1902165a93c',
  Decimal('11'),
  Decimal('1014594'),
  Decimal('341'),
  'Megamind'],
 ['cdb1473a-30fc-4ec4-8768-e1902165a93c',
  Decimal('10'),
  Decimal('355573'),
  Decimal('375'),
  'Megamind'],
 ['cdb1473a-30fc-4ec4-8768-e1902165a93c',
  Decimal('9'),
  Decimal('838434'),
  Decimal('764'),
  'Megamind'],
 ['cdb1473a-30fc-4ec4-8768-e1902165a93c',
  Decimal('8'),
  Decimal('1231579'),
  Decimal('764'),
  'Megamind'],
 ['cdb1473a-30fc-4ec4-8768-e1902165a93c',
  Decimal('7'),
  Decimal('1378537'),
  Decimal('1025'),
  'Megamind'],
 ['cdb1473a-30fc-4ec4-8768-e1902165a93c',
  Decimal('6'),
  Decimal('2526824'),
  Decimal('2425'),
  'Megamind'],
 ['cdb1473a-30fc-4ec4-8768-e1902165a93c',
  Decimal('5'),
  Decimal('6017828'),
  Decimal('3173'),
  'Megamind'],
 ['cdb1473a-30fc-4ec4-8768-e1902165a93c',
  Decimal('4'),
  Decimal('14031154'),
  Decimal('3411'),
  'Megamind'],
 ['cdb1473a-30fc-4ec4-8768-e1902165a93c',
  Decimal('3'),
  Decimal('24342558'),
  Decimal('3411'),
  'Megamind'],
 ['cdb1473a-30fc-4ec4-8768-e1902165a93c',
  Decimal('2'),
  Decimal('33598424'),
  Decimal('3949'),
  'Megamind'],
 ['cdb1473a-30fc-4ec4-8768-e1902165a93c',
  Decimal('1'),
  Decimal('59702174'),
  Decimal('3944'),
  'Megamind'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('29'),
  Decimal('12460'),
  Decimal('20'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('28'),
  Decimal('24731'),
  Decimal('32'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('27'),
  Decimal('46141'),
  Decimal('53'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('26'),
  Decimal('53752'),
  Decimal('64'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('25'),
  Decimal('99842'),
  Decimal('128'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('24'),
  Decimal('190740'),
  Decimal('228'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('23'),
  Decimal('653742'),
  Decimal('522'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('22'),
  Decimal('1722593'),
  Decimal('925'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('21'),
  Decimal('2935957'),
  Decimal('1065'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('20'),
  Decimal('1571670'),
  Decimal('411'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('19'),
  Decimal('805642'),
  Decimal('349'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('18'),
  Decimal('703299'),
  Decimal('386'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('17'),
  Decimal('1120702'),
  Decimal('566'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('16'),
  Decimal('2122879'),
  Decimal('1172'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('15'),
  Decimal('2031316'),
  Decimal('1231'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('14'),
  Decimal('2424519'),
  Decimal('761'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('13'),
  Decimal('470523'),
  Decimal('114'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('12'),
  Decimal('490433'),
  Decimal('151'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('11'),
  Decimal('717358'),
  Decimal('154'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('10'),
  Decimal('370090'),
  Decimal('301'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('9'),
  Decimal('1078538'),
  Decimal('414'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('8'),
  Decimal('1759568'),
  Decimal('1082'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('7'),
  Decimal('3021916'),
  Decimal('1165'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('6'),
  Decimal('4256892'),
  Decimal('1165'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('5'),
  Decimal('6344527'),
  Decimal('1411'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('4'),
  Decimal('9503204'),
  Decimal('1144'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('3'),
  Decimal('6585257'),
  Decimal('410'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('2'),
  Decimal('2900381'),
  Decimal('123'),
  '12 Years a Slave'],
 ['a8117ccf-1373-4b42-9a60-387925dc0606',
  Decimal('1'),
  Decimal('1259943'),
  Decimal('19'),
  '12 Years a Slave'],
 ['0478a5ca-0bd6-48ea-bc14-792ad435a345',
  Decimal('12'),
  Decimal('9398'),
  Decimal('17'),
  'The Counselor'],
 ['0478a5ca-0bd6-48ea-bc14-792ad435a345',
  Decimal('11'),
  Decimal('8181'),
  Decimal('21'),
  'The Counselor'],
 ['0478a5ca-0bd6-48ea-bc14-792ad435a345',
  Decimal('10'),
  Decimal('12428'),
  Decimal('24'),
  'The Counselor'],
 ['0478a5ca-0bd6-48ea-bc14-792ad435a345',
  Decimal('9'),
  Decimal('6181'),
  Decimal('24'),
  'The Counselor'],
 ['0478a5ca-0bd6-48ea-bc14-792ad435a345',
  Decimal('8'),
  Decimal('27231'),
  Decimal('60'),
  'The Counselor'],
 ['0478a5ca-0bd6-48ea-bc14-792ad435a345',
  Decimal('7'),
  Decimal('35784'),
  Decimal('71'),
  'The Counselor'],
 ['0478a5ca-0bd6-48ea-bc14-792ad435a345',
  Decimal('6'),
  Decimal('44238'),
  Decimal('78'),
  'The Counselor'],
 ['0478a5ca-0bd6-48ea-bc14-792ad435a345',
  Decimal('5'),
  Decimal('91803'),
  Decimal('129'),
  'The Counselor'],
 ['0478a5ca-0bd6-48ea-bc14-792ad435a345',
  Decimal('4'),
  Decimal('502584'),
  Decimal('481'),
  'The Counselor'],
 ['0478a5ca-0bd6-48ea-bc14-792ad435a345',
  Decimal('3'),
  Decimal('1187214'),
  Decimal('1022'),
  'The Counselor'],
 ['0478a5ca-0bd6-48ea-bc14-792ad435a345',
  Decimal('2'),
  Decimal('4657528'),
  Decimal('3044'),
  'The Counselor'],
 ['0478a5ca-0bd6-48ea-bc14-792ad435a345',
  Decimal('1'),
  Decimal('10387509'),
  Decimal('3044'),
  'The Counselor'],
 ['60e99e13-404d-4ae7-93a9-c83ae02c91fa',
  Decimal('16'),
  Decimal('51371'),
  Decimal('75'),
  'World War Z'],
 ['60e99e13-404d-4ae7-93a9-c83ae02c91fa',
  Decimal('15'),
  Decimal('117612'),
  Decimal('160'),
  'World War Z'],
 ['60e99e13-404d-4ae7-93a9-c83ae02c91fa',
  Decimal('14'),
  Decimal('241757'),
  Decimal('203'),
  'World War Z'],
 ['60e99e13-404d-4ae7-93a9-c83ae02c91fa',
  Decimal('13'),
  Decimal('430138'),
  Decimal('280'),
  'World War Z'],
 ['60e99e13-404d-4ae7-93a9-c83ae02c91fa',
  Decimal('12'),
  Decimal('598296'),
  Decimal('374'),
  'World War Z'],
 ['60e99e13-404d-4ae7-93a9-c83ae02c91fa',
  Decimal('11'),
  Decimal('1896706'),
  Decimal('1247'),
  'World War Z'],
 ['60e99e13-404d-4ae7-93a9-c83ae02c91fa',
  Decimal('10'),
  Decimal('483810'),
  Decimal('239'),
  'World War Z'],
 ['60e99e13-404d-4ae7-93a9-c83ae02c91fa',
  Decimal('9'),
  Decimal('673888'),
  Decimal('307'),
  'World War Z'],
 ['60e99e13-404d-4ae7-93a9-c83ae02c91fa',
  Decimal('8'),
  Decimal('1062501'),
  Decimal('505'),
  'World War Z'],
 ['60e99e13-404d-4ae7-93a9-c83ae02c91fa',
  Decimal('7'),
  Decimal('2729670'),
  Decimal('912'),
  'World War Z'],
 ['60e99e13-404d-4ae7-93a9-c83ae02c91fa',
  Decimal('6'),
  Decimal('4214416'),
  Decimal('1440'),
  'World War Z'],
 ['60e99e13-404d-4ae7-93a9-c83ae02c91fa',
  Decimal('5'),
  Decimal('8118479'),
  Decimal('2066'),
  'World War Z'],
 ['60e99e13-404d-4ae7-93a9-c83ae02c91fa',
  Decimal('4'),
  Decimal('14084147'),
  Decimal('3003'),
  'World War Z'],
 ['60e99e13-404d-4ae7-93a9-c83ae02c91fa',
  Decimal('3'),
  Decimal('27076245'),
  Decimal('3316'),
  'World War Z'],
 ['60e99e13-404d-4ae7-93a9-c83ae02c91fa',
  Decimal('2'),
  Decimal('46658381'),
  Decimal('3405'),
  'World War Z'],
 ['60e99e13-404d-4ae7-93a9-c83ae02c91fa',
  Decimal('1'),
  Decimal('93922294'),
  Decimal('3607'),
  'World War Z'],
 ['a05fb48f-1450-4187-93bc-6f2cafa1d80f',
  Decimal('19'),
  Decimal('50233'),
  Decimal('81'),
  'Moneyball'],
 ['a05fb48f-1450-4187-93bc-6f2cafa1d80f',
  Decimal('18'),
  Decimal('89298'),
  Decimal('110'),
  'Moneyball'],
 ['a05fb48f-1450-4187-93bc-6f2cafa1d80f',
  Decimal('17'),
  Decimal('123268'),
  Decimal('110'),
  'Moneyball'],
 ['a05fb48f-1450-4187-93bc-6f2cafa1d80f',
  Decimal('16'),
  Decimal('242840'),
  Decimal('231'),
  'Moneyball'],
 ['a05fb48f-1450-4187-93bc-6f2cafa1d80f',
  Decimal('15'),
  Decimal('343404'),
  Decimal('250'),
  'Moneyball'],
 ['a05fb48f-1450-4187-93bc-6f2cafa1d80f',
  Decimal('14'),
  Decimal('365012'),
  Decimal('242'),
  'Moneyball'],
 ['a05fb48f-1450-4187-93bc-6f2cafa1d80f',
  Decimal('13'),
  Decimal('149609'),
  Decimal('242'),
  'Moneyball'],
 ['a05fb48f-1450-4187-93bc-6f2cafa1d80f',
  Decimal('12'),
  Decimal('215225'),
  Decimal('208'),
  'Moneyball'],
 ['a05fb48f-1450-4187-93bc-6f2cafa1d80f',
  Decimal('11'),
  Decimal('809265'),
  Decimal('1004'),
  'Moneyball'],
 ['a05fb48f-1450-4187-93bc-6f2cafa1d80f',
  Decimal('10'),
  Decimal('347777'),
  Decimal('187'),
  'Moneyball'],
 ['a05fb48f-1450-4187-93bc-6f2cafa1d80f',
  Decimal('9'),
  Decimal('740657'),
  Decimal('187'),
  'Moneyball'],
 ['a05fb48f-1450-4187-93bc-6f2cafa1d80f',
  Decimal('8'),
  Decimal('1337335'),
  Decimal('813'),
  'Moneyball'],
 ['a05fb48f-1450-4187-93bc-6f2cafa1d80f',
  Decimal('7'),
  Decimal('2364179'),
  Decimal('1278'),
  'Moneyball'],
 ['a05fb48f-1450-4187-93bc-6f2cafa1d80f',
  Decimal('6'),
  Decimal('3406340'),
  Decimal('1631'),
  'Moneyball'],
 ['a05fb48f-1450-4187-93bc-6f2cafa1d80f',
  Decimal('5'),
  Decimal('5362156'),
  Decimal('2353'),
  'Moneyball'],
 ['a05fb48f-1450-4187-93bc-6f2cafa1d80f',
  Decimal('4'),
  Decimal('7446636'),
  Decimal('2840'),
  'Moneyball'],
 ['a05fb48f-1450-4187-93bc-6f2cafa1d80f',
  Decimal('3'),
  Decimal('10459080'),
  Decimal('3018'),
  'Moneyball'],
 ['a05fb48f-1450-4187-93bc-6f2cafa1d80f',
  Decimal('2'),
  Decimal('15784640'),
  Decimal('2993'),
  'Moneyball'],
 ['a05fb48f-1450-4187-93bc-6f2cafa1d80f',
  Decimal('1'),
  Decimal('19501302'),
  Decimal('2993'),
  'Moneyball'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('22'),
  Decimal('6147'),
  Decimal('4'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('21'),
  Decimal('10745'),
  Decimal('6'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('20'),
  Decimal('16733'),
  Decimal('11'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('19'),
  Decimal('41365'),
  Decimal('29'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('18'),
  Decimal('31743'),
  Decimal('39'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('17'),
  Decimal('58148'),
  Decimal('41'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('16'),
  Decimal('72003'),
  Decimal('62'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('15'),
  Decimal('134311'),
  Decimal('86'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('14'),
  Decimal('138689'),
  Decimal('97'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('13'),
  Decimal('196326'),
  Decimal('96'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('12'),
  Decimal('260489'),
  Decimal('118'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('11'),
  Decimal('410433'),
  Decimal('170'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('10'),
  Decimal('550790'),
  Decimal('196'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('9'),
  Decimal('869797'),
  Decimal('230'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('8'),
  Decimal('1018811'),
  Decimal('235'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('7'),
  Decimal('1243005'),
  Decimal('237'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('6'),
  Decimal('1717325'),
  Decimal('228'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('5'),
  Decimal('1988172'),
  Decimal('215'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('4'),
  Decimal('1778832'),
  Decimal('114'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('3'),
  Decimal('1201786'),
  Decimal('47'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('2'),
  Decimal('902711'),
  Decimal('20'),
  'The Tree of Life'],
 ['d9915fa6-b4ae-47e0-acb2-b0106502171a',
  Decimal('1'),
  Decimal('631935'),
  Decimal('4'),
  'The Tree of Life'],
 ['8d69bf8d-bd80-487a-8387-31be8ea0e616',
  Decimal('17'),
  Decimal('41437'),
  Decimal('61'),
  'Inglourious Basterds'],
 ['8d69bf8d-bd80-487a-8387-31be8ea0e616',
  Decimal('16'),
  Decimal('97757'),
  Decimal('194'),
  'Inglourious Basterds'],
 ['8d69bf8d-bd80-487a-8387-31be8ea0e616',
  Decimal('15'),
  Decimal('76931'),
  Decimal('102'),
  'Inglourious Basterds'],
 ['8d69bf8d-bd80-487a-8387-31be8ea0e616',
  Decimal('14'),
  Decimal('124295'),
  Decimal('109'),
  'Inglourious Basterds'],
 ['8d69bf8d-bd80-487a-8387-31be8ea0e616',
  Decimal('13'),
  Decimal('198167'),
  Decimal('233'),
  'Inglourious Basterds'],
 ['8d69bf8d-bd80-487a-8387-31be8ea0e616',
  Decimal('12'),
  Decimal('335229'),
  Decimal('284'),
  'Inglourious Basterds'],
 ['8d69bf8d-bd80-487a-8387-31be8ea0e616',
  Decimal('11'),
  Decimal('184814'),
  Decimal('148'),
  'Inglourious Basterds'],
 ['8d69bf8d-bd80-487a-8387-31be8ea0e616',
  Decimal('10'),
  Decimal('262564'),
  Decimal('206'),
  'Inglourious Basterds'],
 ['8d69bf8d-bd80-487a-8387-31be8ea0e616',
  Decimal('9'),
  Decimal('487466'),
  Decimal('436'),
  'Inglourious Basterds'],

What the heck is going on up there? Well, it turns out that you can `JOIN` not just tables, but also other queries! 

So, we took our query from the previous example, which gives us the list of Brad Pitt's movies, and we joined it with the `revenues` table to get the week-by-week revenues of all of those movies. 

Notice the same structure for applying a `JOIN` and for aliasing tables with `AS`!

### One more thing...

![One more thing](https://i0.wp.com/9to5mac.com/wp-content/uploads/sites/6/2021/03/One-More-Thing-trademark.jpg?resize=1200%2C628&quality=82&strip=all&ssl=1)

There's a library that comes pre-installed with Python Anaconda called `pandas` which can give you superpowers when it comes to performing data analysis. 

Let's take a look at how we can use `pandas` and our knowledge of SQL to really do some cool stuff.

In [15]:
# Import the package — notice that we can also alias here!
import pandas as pd

In [16]:
# Let's take the SQL from above and assign it to a variable
SQL_FOR_PANDAS = """
    SELECT 
        r.title_id,
        r.week_number,
        r.gross,
        r.theaters,
        t.title
    FROM revenues AS r
    JOIN (
        SELECT t.id, t.title
        FROM titles AS t
        JOIN roles ON roles.title_id = t.id
        WHERE roles.person_id = '43ccd6ee-145e-44f0-b8b1-e06f0b2cf801'
    ) AS t
    ON r.title_id = t.id;
"""

It turns out that `pandas` has a function called `pandas.read_sql` which takes two parameters, the SQL query itself and a connection to a database. What happens when we pass that in?

Try running the below cell.

In [17]:
dataframe = pd.read_sql(SQL_FOR_PANDAS, connection)
dataframe

,title_id,week_number,gross,theaters,title
0,14595dfb-6582-41ac-bb91-93b199dce5b0,4.0,19466.0,32.0,By the Sea
1,14595dfb-6582-41ac-bb91-93b199dce5b0,3.0,125665.0,142.0,By the Sea
2,14595dfb-6582-41ac-bb91-93b199dce5b0,2.0,265732.0,126.0,By the Sea
3,14595dfb-6582-41ac-bb91-93b199dce5b0,1.0,127597.0,10.0,By the Sea
4,8ab470a7-aebf-43c8-8c88-82536c54cc52,17.0,82252.0,108.0,The Big Short
...,...,...,...,...,...
508,4deebcb0-b0fd-4ddd-8feb-9605b05cfe95,5.0,332183.0,157.0,Allied
509,4deebcb0-b0fd-4ddd-8feb-9605b05cfe95,4.0,1898105.0,414.0,Allied
510,4deebcb0-b0fd-4ddd-8feb-9605b05cfe95,3.0,5575465.0,3018.0,Allied
511,4deebcb0-b0fd-4ddd-8feb-9605b05cfe95,2.0,9756020.0,3160.0,Allied
512,4deebcb0-b0fd-4ddd-8feb-9605b05cfe95,1.0,16853128.0,3160.0,Allied

Look at that! `pandas` gives us a tabular view of the data that we just queried from a SQL database hosted on AWS!

But can we do anything with this data? 

I want to convince you that `pandas` is trivially capable of performing powerful analysis that oftentimes is difficult or even impossible to script in Excel.

Consider the question: 

**"For each of Brad Pitt's limited release films (premiering in less than 100 theaters in its first week), how many eventually went on to achieve a peak weekly box office of over $10 million?"**

In [17]:
limited_releases = dataframe[(dataframe['week_number'] == 1.0) & (dataframe['theaters'] < 100)]['title']
for movie in limited_releases:
    weekly_revenues = dataframe[dataframe['title'] == movie]
    peak = weekly_revenues['gross'].idxmax()
    r = weekly_revenues.loc[[peak]].values[0]
    if r[2] > 10_000_000:
        print(f'{r[4]} peaked in week {r[1]} with ${r[2]} in {r[3]} theaters.')

The Big Short peaked in week 3.0 with $18503730.0 in 1585.0 theaters.
Snatch peaked in week 4.0 with $10946720.0 in 1444.0 theaters.
Legends of the Fall peaked in week 4.0 with $16714827.0 in 2005.0 theaters.
Twelve Monkeys (12 Monkeys) peaked in week 2.0 with $18798865.0 in 1533.0 theaters.

Just ... Se7en(!) lines of code and we have our answer.

For more complex analysis, we'll have to brush up on our Python skills, and we'll have to dive deeper into the [documentation](https://pandas.pydata.org/docs/) for `pandas`. 

But that's for another day.